// Here you can add other styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #ffffff;
}
.app-header{
  height: 70px !important;
  background-color: #0a309a;
  color: #ffffff;
  z-index: 9999 !important;
}

.app-header .icons {
  color: #ffffff;
}
.app-header .fa {
  color: #ffffff;
}
.header-avatar{
  margin-left: 1.5rem !important;
}
.app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img {
  height: 50px;
  margin-right:5px;
}
.app-header .nav-item .nav-link{
  color: #ffffff;
}
.btn-menu-btn{
  background-color: #ffffff;
  padding: 3px 5px;
  color: #0a309a;
  border-radius: 0px;
}
.border-right{
  border-right: 1px solid white !important;
  padding-right: 1rem
}
.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 95%;
  color: #f86c6b;
  display: inline;
}
.btn.disabled{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.loader{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.app-header .nav-item .active{
  border-bottom: 2px solid #c8ced3;
}
.app-header .navbar-nav {
  font-size: 17px;
}
.header-fixed .app-body {
    margin-top: 70px;
}
.sec-head
{
  position: fixed;
  border-bottom: 1px solid #c8ced3;
  padding: 10px 0px 10px 10px;
  margin-top: 70px;
  width: 102%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);
  background-color: #f0f3f5;
}
.dropdown-menu{
  min-width: inherit !important;
}
.p-color{
  color: #c8ced3
}
.content-tab {
  margin-top: -1px;
  background: #fff;
  border: none !important;
}
.content-tab-nav .nav-link {
  border: none;
}
.content-tab-nav .nav-item .active{
  border-bottom: 1px solid #c8ced3;
}
.main .content-type-container{
  position: fixed;
  top: 140px;
  left: 0px;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
.object-key-val .copy-icon{
  display: none;
}
.field-container{
  overflow: auto;
}
.cursor-ptr{
  cursor: pointer;
}
.top-54{
  top:54px;
  height: 400px;
  overflow: auto;
}
.status-dropdown{
  background: none;
  border: none;
  font-size: 25px;
  font-weight: 700;
}
.status-dropdown:hover{
  background: none;
  border: none;
}
.status-dropdown:visited{
  background: none;
  border: none;
}
.status-area button{
  border-radius: 0.25rem 0px 0px 0.25rem;
}
.status-area .btn-group button{
  border-radius: 0px 0.25rem 0.25rem 0px;
}
.field-card{
  padding:5px;
}
.blr-0{
  border-radius: 0px 0.25rem 0.25rem 0px;
}
.brl-0 .dropdown-toggle{
  border-radius: 0.25rem 0px 0px 0.25rem;
}
.content-type-select{height: 35px;width:180px}
.content-type-select > div{
 /*  border-radius: 0px 0px 0px 0px;
  border-right: 0px;
  width: 180px;
  height: 35px !important;
  min-height: 35px !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0,0%,100%);
  border-color: hsl(0,0%,80%); */
}
@media (max-width: 991.98px){
  .app-header .navbar-brand {
    position: absolute;
    top: 7px;
    left: 18px;
    margin-left: 0;
  }
  .icon-wrapper {
    li {
      a {
        i {
          font-size: 20px;
        }
        span {
          display: none;
        }
      }
    }
  }
}